$blue-default: #004b86;
$gray-default: #666665;
$blue-dark: #0094c3;
$blue-light: #8ac0d8;
$green-dark: #75ba5b;
$green-light: #7cba86;
$yellow-dark: #ecbd23;
$yellow-light: #ffdb1a;
$blue-special: #083665;
$grey-special: #cbcccb;
